body{
    padding: 25px;
    background: rgb(190, 176, 42);
}

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    font-size: 10px;
}

li{
    list-style: none;
}

.caja{
    padding: auto;  
    border: 2px solid rgb(195, 209, 0);
    background: yellow;
    width: 220px;
    height: 220px;
    box-shadow: 10px 10px 20px;
}

.caja:hover{
    color: white;
    background: rgb(61, 61, 226);
    transition: 2s;
}

.container{
    margin: auto;
    padding: 15px;
    height: 500px;
    width: 500px;
    text-align: center;
    border: 2px solid rgb(243, 255, 140);
    background: rgb(187, 255, 0);
    cursor: pointer;
    box-shadow: 20px 20px 25px;
}

h1{
    color: white;
}

.input{
    border-radius: 10px;
    margin: 5px;
}

.btn{
    margin: 35px;
    background: white;
    border-radius: 10px;
    box-shadow: 7px 7px 15px black; 
}

.btn:hover{
    color: white;
    background: rgb(61, 61, 226);
    transition: 1s;
}

pre{
    text-align: left;
    color: white;
}
